.gruposticker{    
    position: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;    
    color: #2c2c2c;
    width: max-content;    
    padding: 10px 30px;
    border-radius: 30px 3px;
    text-shadow: 0px 0px 1px #707070;
    box-shadow: 2px 2px 3px #272400;    
}
/*NOME TAG PLAYERS*/
#grupostickerstnormal{
    background-image: url(img/Antwerpen2022/teamtagnormal.png);
    background-repeat: no-repeat;  
    background-size: cover;
}
/*NOME TAG TIMES*/
#grupostickerstteams{
    background-image: url(img/Antwerpen2022/teamtaggold.png);
    background-repeat: no-repeat;  
    background-size: cover;
}
img{    
    max-width: 255px;      
}
.stickergoldteam{   
    padding: 20px; 
    text-align: center;    
}
.quadro{
    max-width: 255px;    
    margin: 5px auto 0px auto;    
    display: inline-block;
}
.tagname{   
    box-shadow: 0px 3px 4px #21002e;    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    color: #3a3a3a;
    text-align: center;
    margin: 0 auto 0 auto;    
    padding: 4px;
    border-radius: 20px 20px 0px 0px;
}
#tagnamenormal{
    background-image: url(img/Antwerpen2022/teamtagnormal.png);
    background-repeat: no-repeat;   
    background-size: cover;
}
#tagnamegold{
    background-image: url(img/Antwerpen2022/teamtaggold.png);
    background-repeat: no-repeat;   
    background-size: cover;
}
#tagnamegliter{
    background-image: url(img/Antwerpen2022/teamtagliter.png);
    background-repeat: no-repeat;   
    background-size: cover;
}
.infocard{    
    background-color: #7b00ac;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    color: #f5ddff;
    text-align: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    padding: 4px;
    border-radius: 4px;
}