.img{        
    border-radius: 20px;      
    margin: auto;
    height: 550px; 
}
.nameteam{            
    box-shadow: 0px 3px 3px #21002e;
    margin-bottom: 30px;       
    margin-left: auto;
    margin-right: auto;
    width: 100%;    
    padding: 100px 0px;
    border-radius: 10px;    
}
.nameteam h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    background-image: url(img/Antwerpen2022/nameteamwall.png);
    background-position: center;
    background-repeat: no-repeat;   
    background-size: cover;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    padding: 6px;
    border-radius: 3px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
    margin-top: -60px;
}

/* NAME TEAM */
#nameteam9z{
    background-image: url(img/Antwerpen2022/roxoazul2.png);
    background-position: center;
    background-repeat: no-repeat;   
    background-size: cover;
}
#nameteamastralis{
    background-image: url(img/Antwerpen2022/aut/astralis/nameteamastralis.png);
    background-position: center;
    background-repeat: no-repeat;   
    background-size: cover;
}
#nameteambad{
    background-image: url(img/Antwerpen2022/aut/badnewseagles/nameteambad.jpg);
    background-position: center;
    background-repeat: no-repeat;   
    background-size: cover;
}
#nameteambig{
    background-image: url(img/Antwerpen2022/aut/big/imgbig.png);
    background-position: center;
    background-repeat: no-repeat;   
    background-size: cover;
}
#nameteamcloud9{
    background-image: url(img/Antwerpen2022/aut/cloud9/nameteamcloud92.jpg);
    background-position: center;
    background-repeat: no-repeat;   
    background-size: cover;
}
#nameteamcomplexity{
    background-image: url(img/Antwerpen2022/aut/complexity/nameteamcomplexity.jpg);
    background-position: center;
    background-repeat: no-repeat;   
    background-size: cover;    
}
#nameteamcopenhagen{
    background-image: url(img/Antwerpen2022/aut/copenhagen/nameteamcopenhagen.png);
    background-position: center;
    background-repeat: no-repeat;   
    background-size: cover;    
}
#nameteamence{
    background-image: url(img/Antwerpen2022/aut/ence/nameteamence.jpg);
    background-position: center;
    background-repeat: no-repeat;   
    background-size: cover;    
}
#nameteameternalfire{
    background-image: url(img/Antwerpen2022/aut/eternalfire/nameteameternalfire.jpg);
    background-position: center;
    background-repeat: no-repeat;   
    background-size: cover;    
}
#nameteamfaze{
    background-image: url(img/Antwerpen2022/aut/faze/namteamfaze.png);
    background-position: center;
    background-repeat: no-repeat;   
    background-size: cover;    
}










/* WALLPAPER TEAM */
#img9z{
    background-image: url(img/Antwerpen2022/aut/9z/wall-9z.jpg);
    background-repeat: no-repeat;   
    background-size: cover;
    background-position: center;
}
#imgastralis{
    background-image: url(img/Antwerpen2022/aut/astralis/imgastralis.jpg);
    background-repeat: no-repeat;   
    background-size: cover;
    background-position: center;
}
#imgbad{
    background-image: url(img/Antwerpen2022/aut/badnewseagles/imgbad.jpg);
    background-repeat: no-repeat;   
    background-size: cover;
    background-position: center;
}
#imgbig{
    background-image: url(img/Antwerpen2022/aut/big/BIG-Logo.jpg);
    background-repeat: no-repeat;   
    background-size: cover;
    background-position: center;
}
#imgcloud9{
    background-image: url(img/Antwerpen2022/aut/cloud9/imgcloud93.png);
    background-repeat: no-repeat;   
    background-size: cover;
    background-position: center;
}
#imgcomplexity{
    background-image: url(img/Antwerpen2022/aut/complexity/imgcomplexity.jpg);
    background-repeat: no-repeat;   
    background-size: cover;
    background-position: center;    
}
#imgcopenhagen{
    background-image: url(img/Antwerpen2022/aut/copenhagen/imgcopenhagen.png);
    background-repeat: no-repeat;   
    background-size: cover;
    background-position: center;    
}
#imgence{
    background-image: url(img/Antwerpen2022/aut/ence/imgence.jpg);
    background-repeat: no-repeat;   
    background-size: cover;
    background-position: center;    
}
#imgeternalfire{
    background-image: url(img/Antwerpen2022/aut/eternalfire/imgeternalfire.png);
    background-repeat: no-repeat;   
    background-size: cover;
    background-position: center;    
}
#imgfaze{
    background-image: url(img/Antwerpen2022/aut/faze/imgfaze.png);
    background-repeat: no-repeat;   
    background-size: cover;
    background-position: center;    
}