.img{
    background-repeat: no-repeat;   
    background-size: cover;
    background-position: center;        
    border-radius: 20px;      
    margin: auto;
    height: 550px; 
}
.nameteam{
    background-position: center;
    background-repeat: no-repeat;   
    background-size: cover;           
    box-shadow: 0px 3px 3px #21002e;
    margin: 0 auto 30px auto;
    width: 100%;    
    padding: 100px 0px;
    border-radius: 10px;       
}
.nameteam h1{    
    background-image: url(img/Antwerpen2022/nameteamwall.png);
    background-position: center;
    background-repeat: no-repeat;   
    background-size: cover;
    width: max-content;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    margin: -60px auto 20px auto;    
    padding: 6px 24px;
    border-radius: 3px;
    color: #fff;
    text-align: center;
}

/* NAME TEAM */
#nameteam9z{
    background-image: url(img/Antwerpen2022/roxoazul2.png);
}
#nameteamastralis{
    background-image: url(img/Antwerpen2022/aut/astralis/nameteamastralis.png);    
}
#nameteambad{
    background-image: url(img/Antwerpen2022/aut/badnewseagles/nameteambad.jpg);    
}
#nameteambig{
    background-image: url(img/Antwerpen2022/aut/big/imgbig.png);    
}
#nameteamcloud9{
    background-image: url(img/Antwerpen2022/aut/cloud9/nameteamcloud92.jpg);    
}
#nameteamcomplexity{
    background-image: url(img/Antwerpen2022/aut/complexity/nameteamcomplexity.jpg);        
}
#nameteamcopenhagen{
    background-image: url(img/Antwerpen2022/aut/copenhagen/nameteamcopenhagen.png);
}
#nameteamence{
    background-image: url(img/Antwerpen2022/aut/ence/nameteamence.jpg);   
}
#nameteameternalfire{
    background-image: url(img/Antwerpen2022/aut/eternalfire/nameteameternalfire.jpg);    
}
#nameteamfaze{
    background-image: url(img/Antwerpen2022/aut/faze/namteamfaze.png);        
}
#nameteamforze{
    background-image: url(img/Antwerpen2022/aut/forze/nameteamforze.jpg);       
}
#nameteamfuria{
    background-image: url(img/Antwerpen2022/aut/furia/nameteamfuria.jpg);      
}
#nameteamg2{
    background-image: url(img/Antwerpen2022/tempwall.jpg);      
}
#nameteamheroic{
    background-image: url(img/Antwerpen2022/tempwall.jpg);      
}
#nameteamihc{
    background-image: url(img/Antwerpen2022/tempwall.jpg);      
}






/* WALLPAPER TEAM */
#img9z{
    background-image: url(img/Antwerpen2022/aut/9z/wall-9z2.jpg);        
}
#imgastralis{
    background-image: url(img/Antwerpen2022/aut/astralis/imgastralis.jpg);   
}
#imgbad{
    background-image: url(img/Antwerpen2022/aut/badnewseagles/imgbad.jpg);   
}
#imgbig{
    background-image: url(img/Antwerpen2022/aut/big/BIG-Logo.jpg);
}
#imgcloud9{
    background-image: url(img/Antwerpen2022/aut/cloud9/imgcloud93.png);
}
#imgcomplexity{
    background-image: url(img/Antwerpen2022/aut/complexity/imgcomplexity.jpg);
}
#imgcopenhagen{
    background-image: url(img/Antwerpen2022/aut/copenhagen/imgcopenhagen.png);
}
#imgence{
    background-image: url(img/Antwerpen2022/aut/ence/imgence.jpg);
}
#imgeternalfire{
    background-image: url(img/Antwerpen2022/aut/eternalfire/imgeternalfire.png);
}
#imgfaze{
    background-image: url(img/Antwerpen2022/aut/faze/imgfaze.png);
}
#imgforze{
    background-image: url(img/Antwerpen2022/aut/forze/imgforze.jpg);
}
#imgfuria{
    background-image: url(img/Antwerpen2022/aut/furia/imgfuria2.jpg);
}
#imgg2{
    background-image: url(img/Antwerpen2022/tempimg.jpg);
}
#imgheroic{
    background-image: url(img/Antwerpen2022/tempimg.jpg);
}
#imgihc{
    background-image: url(img/Antwerpen2022/tempimg.jpg);
}