.img{
    background-repeat: no-repeat;   
    background-size: cover;
    background-position: center;        
    border-radius: 20px;   
    margin: auto;
    min-height: 410px;    
}
.nameteam{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;              
    box-shadow: 0px 3px 3px #21002e;
    margin: 0 auto 30px auto;
    max-width: 1920px;
    min-width: 380px;    
    padding: 100px 0px;
    border-radius: 10px;       
}
.nameteam h1{    
    background-image: url(img/Antwerpen2022/nameteamwall.png);
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;   
    width: max-content;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    margin: -60px auto 20px auto;    
    padding: 6px 24px;
    border-radius: 3px;
    color: #fff;
    text-align: center;
}

/* NAME TEAM BACKGROUND */
#nameteam9z{
    background-image: url(img/Antwerpen2022/aut/9z/wall-9z2.jpg);
}
#nameteamastralis{
    background-image: url(img/Antwerpen2022/aut/astralis/nameteamastralis.png);    
}
#nameteambad{
    background-image: url(img/Antwerpen2022/aut/badnewseagles/nameteambad.jpg);    
}
#nameteambig{
    background-image: url(img/Antwerpen2022/aut/big/imgbig.png);    
}
#nameteamcloud9{
    background-image: url(img/Antwerpen2022/aut/cloud9/nameteamcloud93.jpg);    
}
#nameteamcomplexity{
    background-image: url(img/Antwerpen2022/aut/complexity/nameteamcomplexity.jpg);        
}
#nameteamcopenhagen{
    background-image: url(img/Antwerpen2022/aut/copenhagen/nameteamcopenhagen.png);
}
#nameteamence{
    background-image: url(img/Antwerpen2022/aut/ence/nameteamence.jpg);   
}
#nameteameternalfire{
    background-image: url(img/Antwerpen2022/aut/eternalfire/nameteameternalfire.jpg);    
}
#nameteamfaze{
    background-image: url(img/Antwerpen2022/aut/faze/namteamfaze.png);        
}
#nameteamforze{
    background-image: url(img/Antwerpen2022/aut/forze/nameteamforze.jpg);       
}
#nameteamfuria{
    background-image: url(img/Antwerpen2022/aut/furia/nameteamfuria.jpg);      
}
#nameteamg2{
    background-image: url(img/Antwerpen2022/aut/g2/nameteamg2.jpg);      
}
#nameteamheroic{
    background-image: url(img/Antwerpen2022/aut/heroic/nameteamheroic.png);      
}
#nameteamihc{
    background-image: url(img/Antwerpen2022/aut/ihc/nameteamihc.jpg);      
}
#nameteamimperial{
    background-image: url(img/Antwerpen2022/aut/imperial/nameteamimperial.png);      
}
#nameteamliquid{
    background-image: url(img/Antwerpen2022/aut/liquid/nameteamliquid.png);
}
#nameteammibr{
    background-image: url(img/Antwerpen2022/aut/mibr/nameteammibr.jpg);      
}
#nameteamnavi{
    background-image: url(img/Antwerpen2022/aut/navi/nameteamnavi.png);      
}
#nameteamninjas{
    background-image: url(img/Antwerpen2022/aut/ninjas/nameteamnip.jpg);      
}
#nameteamoutsiders{
    background-image: url(img/Antwerpen2022/aut/outsiders/nameteamoutsiders.jpg);      
}
#nameteamrenegades{
    background-image: url(img/Antwerpen2022/aut/renegades/nameteamrenegades.png);      
}
#nameteamspirit{
    background-image: url(img/Antwerpen2022/aut/spirit/nameteamspirit.png);      
}
#nameteamvitality{
    background-image: url(img/Antwerpen2022/aut/vitality/nameteamvitality.png);      
}

/* WALLPAPER TEAM */
#imgcards{
    background-image: url(img/Antwerpen2022/fundocards.png);        
}