
#imgastralis{
    background-image: url(img/Antwerpen2022/tempimg.jpg);   
}
#imgbad{
    background-image: url(img/Antwerpen2022/tempimg.jpg);   
}
#imgbig{
    background-image: url(img/Antwerpen2022/tempimg.jpg);
}
#imgcloud9{
    background-image: url(img/Antwerpen2022/tempimg.jpg);
}
#imgcomplexity{
    background-image: url(img/Antwerpen2022/tempimg.jpg);
}
#imgcopenhagen{
    background-image: url(img/Antwerpen2022/tempimg.jpg);
}
#imgence{
    background-image: url(img/Antwerpen2022/tempimg.jpg);
}
#imgeternalfire{
    background-image: url(img/Antwerpen2022/tempimg.jpg);
}
#imgfaze{
    background-image: url(img/Antwerpen2022/tempimg.jpg);
}
#imgforze{
    background-image: url(img/Antwerpen2022/tempimg.jpg);
}
#imgfuria{
    background-image: url(img/Antwerpen2022/tempimg.jpg);
}
#imgg2{
    background-image: url(img/Antwerpen2022/tempimg.jpg);
}
#imgheroic{
    background-image: url(img/Antwerpen2022/tempimg.jpg);
}
#imgihc{
    background-image: url(img/Antwerpen2022/tempimg.jpg);
}
#imgimperial{
    background-image: url(img/Antwerpen2022/tempimg.jpg);
}
#imgliquid{
    background-image: url(img/Antwerpen2022/tempimg.jpg);
}
#imgmibr{
    background-image: url(img/Antwerpen2022/tempimg.jpg);
}
#imgnavi{
    background-image: url(img/Antwerpen2022/tempimg.jpg);
}
#imgninjas{
    background-image: url(img/Antwerpen2022/tempimg.jpg);
}
#imgoutsiders{
    background-image: url(img/Antwerpen2022/tempimg.jpg);
}
#imgrenegades{
    background-image: url(img/Antwerpen2022/tempimg.jpg);
}
#imgspirit{
    background-image: url(img/Antwerpen2022/tempimg.jpg);
}
#imgvitality{
    background-image: url(img/Antwerpen2022/tempimg.jpg);
}